* {
    margin:0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 1000px;
}
.site{
    margin: auto;
    width: 1000px;
}
.site-page{
    display: flex;
    margin: auto;
    width: 1000px;
}
.content{
    width: 100%;
}
header{
    display: flex;
    justify-content: flex-end;
    height: 55px;
}
#header-login{
    display: flex;
    justify-content: center;
    height: auto;
    animation: fadein 500ms;
}
.tela-login{
    display: flex;
    text-align: center;
    animation: fadein 1s;
}
#form-login{
    margin-bottom: 20px;
    width: 300px;
}
#form-login-button{
    margin: auto;
    margin-bottom: 20px;
    width: 120px;
    transition: all;
    transform: scale(0px);
}
#form-login-button:hover{
    background-color: #3e86b9;
}
#form-login-button button{
    margin: auto;
    font-size: large;
    width: 150px;
    height: 40px;
}
.container-login{
    margin: auto;
    box-shadow: #979dac 0px 0px 5px;
    border-radius: 7px;
}
.container-login h1{
    color: #0066ad;
    margin: 30px;
}
.menu{
    text-align: center;
    width: 200px;
}
.menu h2{
    color: #0066ad;
    box-shadow: #979dac 0px 0px 2px;
    border-radius: 7px 7px 0 0;
    padding: 15px;
    border-bottom: #0066ad 2px solid;
}
.menu img{
    margin: 20px 0px;
    width: 200px;
    transition: all;
    transform: scale(0px);
}
.menu img:hover{
    transform: scale(1.03);
}
.disciplinas{
    height: 60px;
    box-shadow: #979dac 0px 1px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all;
    transform: scale(0px);
}
.disciplinas:hover{
    background-color: aliceblue;
    transform: scale(1.03);
}
.disciplinas a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    font-size: 15px;
    color: black;
    text-decoration: none;
}
#login-button{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    margin: 25px 20px 0px 30px;
}
.login img{
    margin: 30px 0;
    width: 200px;
    transition: all;
    transform: scale(0px);
}
.login img:hover{
    transform: scale(1.03);
}
.pesquisa-page div{
    width: 300px;
    height: 28px;
}
#to-login{
    color: #0066ad;
    border: #0066ad 2px solid;
    background-color: #f7f7f7;
    width: 90px;
    height: 30px;
    border-radius: 7px;
    transition: all;
    transform: scale(0px);
}
#to-login:hover{
    background-color: aliceblue;
}
article{
    border: #979dac 1px solid;
    border-bottom: none;
    margin: 30px 0 0 10px;
    padding: 20px;
    text-align: justify;
    animation: fadein 500ms;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
article h1{
    font-size: none;
    padding-bottom: 7px;
    border-bottom: #0066ad 1px solid;
}
article h2{
    font-size: 22px;
    padding-bottom: 5px;
    border-bottom: #c2c2c2 1px solid;
}
article h3{
    padding-top: 15px;
}
article p{
    font-size: 16px;
    margin: 20px 0;
}
article p a{
    color: black;
}
#content-ti figure{
    float: right;
    text-align: center;
    padding: 15px;
    margin: 10px 0 10px 15px;
    border-radius: 7px;
    box-shadow: #979dac 0px 0px 3px;
}
#content-ti img{
    width: 120px;
}
#vb{
    padding-left: 15px;
}
ul{
    padding: 15px 0 0 20px;
}
ul li{
    margin-bottom: 10px;
}
ul a{
    text-decoration: none;
}
.frente{
    font-size: 18px;
    width: 950px;
    border-bottom: 1px solid #9e9e9e;
    margin: auto;
    text-align: center;
    animation: fadein 500ms;
}
#infopedia{
    display: flex;
    justify-content: center;
}
#logo{
    width: 300px;
}
.frente img{
    width: 300px;
}
#linguas a{
    color: #0066ad;
    font-size: 20px;
    text-decoration: none;
    margin: 30px;
}
.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
#linha-pesquisa{
    width: 70px;
    border-bottom: 1px solid #9e9e9e;
}
form div{
    border: 1px solid #0066ad;
    display: flex;
    width: 380px;
    height: 40px;
    margin: 0 30px;
    border-radius: 7px;
    background-color: #0066ad;
}
form input{
    border: none;
    text-indent: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 7px;
}
form button{
    color: white;
    background-color: #0066ad;
    border: none;
    width: 80px;
    font-size: medium;
    text-align: center;
    border-radius: 7px;
    transition: all;
    transform: scale(0px);
}
form button:hover{
    background-color: #3e86b9;
}
.container-disciplinas{
    display: flex;
    justify-content: space-between;
    animation: fadein 1s;
}
.caixa {
    width: 320px;
    height: 80px;
    border-bottom: 2px solid #0066ad;
    margin-top: 30px;
    border-radius: 7px;
    transition: all;
    transform: scale(0px);
    box-shadow: #979dac 0px 0px 3px;
}
#caixa1{
    margin-top: 20px;
}
.caixa:hover{
    background-color: #f7f7f7;
    transform: scale(1.05);
}
.disciplina{
    margin: 10px;
    width: 300px;
    height: 60px;
}
.disciplina a{
    display: flex;
    text-decoration: none;
}
.disciplina img{
    margin-left: 5px;
    height: 60px;
    width: 60px;
}
.disciplina div{
    margin: 10px;
}
.disciplina h2{
    margin-left: 10px;
    font-size: 20px;
    color: #0066ad;
}
.disciplina h3{
    margin-left: 10px;
    font-size: 16px;
    color: black;
}
footer{
    border-top: #9e9e9e solid 1px;
    margin: 50px 0px;
}